@font-face {
    font-family: Montserrat;
    src: url(./font/Montserrat.ttf);
}
body{
    font-family: Montserrat;
    background-color: rgb(244, 244, 245); 
}




h2{
    margin-top: 2rem;
}

h5{
    
    position: relative;
    bottom: -1rem;
    margin-left: 1rem;
}
